.pruebabosque h2 {
    background-color: #8fb1c6;
    background-image: none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.pruebaubicacion h2 {
    background-color: #e47d7e;
    background-image: none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.pruebagti h2 {
    background-color: #a0bc98;
    background-image: none; 
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000; 
}

.pruebaumf h2 {
    background-color: #e1d15a;
    background-image: none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;  
}

.field-tipo_propiedad ul li {
    float: left;
    list-style: none;
}

.field-tipo_propiedad .help {
    display: none;
}

.field-organizado ul li {
    float: left;
    list-style: none;
}

.field-organizado .help {
    display: none;
}

.field-organizacion ul li {
    float: left;
    list-style: none;
}

.field-organizacion .help {
    display: none;
}

.field-naturales ul li {
    float: left;
    list-style: none;
}

.field-naturales .help {
    display: none;
}

.field-introducida ul li {
    float: left;
    list-style: none;
}

.field-introducida .help {
    display: none;
}
/* datos que se ocultan */
.field-tipo_producto {
    display: none;
}

.field-nombre_gti {
    display: none;
}
/*----------------------*/

.field-tipo_producto ul li {
    float: left;
    list-style: none;
}

.field-tipo_producto .help {
    display: none;
}

.field-procesos_industriales ul li {
    float: left;
    list-style: none;
}

.field-procesos_industriales .help {
    display: none;
}

.field-secado ul li {
    float: left;
    list-style: none;
}

.field-secado .help {
    display: none;
}

.field-buenas_practicas ul li {
    float: left;
    list-style: none;
}

.field-buenas_practicas .help {
    display: none;
}

.field-proveedores ul li {
    float: left;
    list-style: none;
}

.field-proveedores .help {
    display: none;
}

.field-bosques_umf ul li {
    float: left;
    list-style: none;
}

.field-bosques_umf .help {
    display: none;
}

.field-extraccion ul li {
    float: left;
    list-style: none;
}

.field-extraccion .help {
    display: none;
}















