@import "lib_style.less";

//Variables

@mako:'Mako', sans-serif;

// General

body{
	font-family: Arial,
}
a{
	text-decoration: none;
}
p{
	margin-bottom: 15px;
}
// Header

#header{
	background: #fff;
	border-bottom: #54584f 1px solid;
	height: 70px;
	.box-shadow(0px,2px,4px,#b1b1b1);
	position: relative;
	z-index: 100;

}

.logo {
	a{
		display: block;
		line-height: 70px;
	}
}

#menu{
	a{
		font-family: @mako;
		display: block;
		font-size: 13px;
		color:#888a85;
		float: left;
		padding:45px 30px 0px 30px;
		height: 25px;
		border-left: #d7dcde 1px solid;
		&:hover{
			color:#333;
			.box-shadow(0, 6px, 5px,-5px,#b3ad12);
		}
	}
	.last{
		border-right: #d7dcde 1px solid;
	}
	.homeicon{
		background: url(/files/img/homeheader.png) no-repeat center 20px;
	}
	.actoresicon{
		background: url(/files/img/actoresicon.png) no-repeat center 20px;
	}
	.estadisticasicon{
		background: url(/files/img/estadisticasicon.png) no-repeat center 20px;
	}
}

//homepage

#feature{
	height: 550px;
	width: 100%;
	background: #fff;
	padding-top:50px;
}

#bienvenida{
	width: 580px;
	height: 184px;
	.linear-gradient(#393939,#505050,25%);
	padding:40px;
	.rounded-corners(6px);
	border:#928d88 1px solid;
	-moz-box-shadow: inset 0 -1px 5px #111;
	-webkit-box-shadow: inset 0 -1px 5px #111;
	box-shadow: inset 0 -1px 5px #111;
	.titulo{
		font-family: Georgia;
		font-size: 18px;
		color:#faed9c;
		font-style: italic;
		margin-bottom: 15px;
	}
	.texto{
		p{
			text-align: left;
			font-family: @mako;
			font-size: 14px;
			color:#cacac5;
			a{
				display: block;
				width: 80px;
				color:#fff;
				padding:10px;
				.linear-gradient(#080808,#353535,25%);
				border:#5c5c5c 1px solid;
				.rounded-corners(4px);
				.box-shadow(0px,2px,4px,#2b2b2b);
				&:hover{
					.linear-gradient(#080808,#353535,0%);
					.box-shadow(0px,2px,4px,#222222);
				}
				img{
					margin-left: 10px;
				}
			}
		}
	}
	.fullindex{
		display: none;
		.texto img{
			margin-left: 10px;
			.box-shadow(0px,0px,5px,#222);
		}
		.texto p{
			font-size: 12px;
		}
		.conicefv{
			background: #005640;
			border: #008260 1px solid;
			.rounded-corners(3px);
			float: left;
			margin-right: 20px;
			width: 295px;
			height: 455px;
			padding:15px;
			img{margin-bottom:10px;}
			p{
				font-size: 12px;
				color:#00d19c;
				text-align: left;
				font-family: @mako;
			}
		}
	}
}

#lista-actores{
	background: url(/files/img/actoresback2.png) repeat-x;
	border-bottom: #72644f 9px solid;
	width: 100%;
	margin-top:-250px;
	border-top:#fbf9ec 1px solid;
	.box-shadow(0px,-4px,6px,#2b2b2b);
	.titulo-bloque{
		font-family: @mako;
		font-size: 13px;
		color:#000;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 10px;
		img{
			margin-right: 8px;
		}

	}
	.bloque_actor_externo{
		clear:both;
		border:#bcbcbc 2px solid;
		padding:8px;
		background: #f8f7f5 url(/files/img/bloque_externo.png);
	}
	.bloque_actor_interno{
		background: #fff;
		border:#ebebeb 1px solid;
		a{
			display: block;
			width: 100%;
			height: 30px;
			padding-top: 15px;
			color:#4f4f4f;
			font-family: @mako;
			border-bottom: #ebebeb 1px solid;
			&:hover{
				color:#000;
				-moz-box-shadow: inset 0 -1px 5px #eee;
				-webkit-box-shadow: inset 0 -1px 5px #eee;
				box-shadow: inset 0 -1px 5px #eee;
				background: #fdfffa;
				// border-bottom: #aec6bd 1px solid;
			}
			.conteo{
				float: left;
				margin-left:10px;
				margin-right: 10px;
				.rounded-corners(2px);
				background: #c3bb2f;
				text-align: center;
				font-size: 11px;
				color:#fff;
				height: 16px;
				width:20px;
			}
		}
	}
}

#estadisticas{
	height: 320px;
	background: #c9d788 url(/files/img/estadisticasback.jpg) no-repeat center;
	border-top:#f3f8a8 1px solid;
	.grafobox{
		background: #fff;
		.rounded-corners(5px);
		height: 265px;
		.box-shadow(0px,3px,0px,#8b8f3e);
		margin-top: 15px;
		.titulo{
			background: #f3f3f2;
			border-bottom: #dfdfdf 1px solid;
			height: 40px;
			line-height: 40px;
			text-align: center;
			.rounded-corners-top(5px);
			font-family: @mako;
			font-size: 15px;
			.text-shadow(0px,1px,0px,#fff);
			color:#4f4f4f;
		}
		.grafo-index{
			padding:20px;
		}
	}
}

// Actores

.interna{
	background:#fff url(/files/img/groovepaper.jpg);
}
.fotoactor{
	padding:3px;
	background: #fff;
	border:#dedede 1px solid;
}
.titulo-actor{
	font-size:25px;
	font-family: @mako;
	width: 450px
}

.despactor{
	p{
		font-family: @mako;
		font-size: 13px;
	}
}
.generalform{
	padding:8px;
	border:#c9c8c4 1px solid;
	background: #fff;
	.rounded-corners(5px);
	margin-top:20px;
	.box-shadow(0px, 1px, 2px, #e4e0db);
	margin-bottom: 20px
}
.formelement{
	width:120px;
	float: left;
	margin-right: 15px;
	.labelform{
		font-size: 12px;
		font-family: @mako;
		color:#6c6d68;
	}
	select{
		width: 100%;
	}
}
.consultar{
	float: right;
	margin-top:-10px;
}

.maptabs{
	margin-bottom: -2px;
	width: 300px;
	float:left;
	a{
		// display: block;
		// float: right;
		// padding:10px;
	}
}
#map{
	z-index: 99;
	margin-bottom: 20px;
	top:5px;
	border-top:#666666 3px solid;
	.box-shadow(0px, 1px, 2px, #adaba9);
}
.conteo{
	float:right;
	width:195px;
}

#tabladatos{
	padding:15px;
	border:#c9c8c4 1px solid;
	background: #fff;
	.rounded-corners(5px);
	margin-top:5px;
	.box-shadow(0px, 1px, 2px, #e4e0db);
	height: 400px;
	margin-bottom: 40px;
}
#actortable{
	float: left;
	margin:10px 0px;
	tbody tr td a{
		color:#199a7f;
		font-weight: bold;
	}
}
.table tbody tr:hover td,
.table tbody tr:hover th{
	background-color: #fefee7 !important;
}


//Ficha actor

.botonesficha{
	float:right;
	width: 400px;
}

//Footer
#footer{
	background:#1c5e50 url(/files/img/shadowfooter.png) no-repeat center top;
	height: 52px;
	.footertext1,.footertext2{
		font-family: @mako;
		line-height: 52px;
		color:#fff;
		font-size: 12px;
		color:#eeeeec;
		a{
			color:#fce94f;
		}
	}
	.footertext1{
		float:left;
	}
	.footertext2{
		float: right;
	}

}