@import "lib_style.less";

//Variables

@mako:'Mako', sans-serif;

// General

body{
	font-family: Arial,
}
a{
	text-decoration: none;
}
p{
	margin-bottom: 15px;
}
// Header

#header{
	background: #fff;
	border-bottom: #54584f 1px solid;
	height: 70px;
	.box-shadow(0px,2px,4px,#b1b1b1);
	position: relative;
	z-index: 100;

}

.logo {
	a{
		display: block;
		line-height: 70px;
	}
}

#menu{
	a{
		font-family: @mako;
		display: block;
		font-size: 13px;
		color:#888a85;
		float: left;
		padding:45px 30px 0px 30px;
		height: 25px;
		border-left: #d7dcde 1px solid;
		&:hover{
			color:#333;
			.box-shadow(0, 6px, 5px,-5px,#b3ad12);
		}
	}
	.last{
		border-right: #d7dcde 1px solid;
	}
	.homeicon{
		background: url(/files/img/homeheader.png) no-repeat center 20px;
	}
	.actoresicon{
		background: url(/files/img/actoresicon.png) no-repeat center 20px;
	}
	.estadisticasicon{
		background: url(/files/img/estadisticasicon.png) no-repeat center 20px;
	}
}

//homepage
.tituloindex{
	background: #4e9a06;
	border-right: #1c5e50 10px solid;
	padding:10px;
	margin-bottom: 10px;
	font-size: 14px;
	color:#fff;
	text-align: right;
	float: right ;
}

.descripcionindex{
	background: #fff;
	border-right: #d3d7cf 10px solid;
	padding:10px;
	color:#58584f;
	font-size: 13px;
	line-height: 1.3;
	text-align: right;
	margin-bottom: 10px;
	float: right ;
}

.botonindex{
	float: right;
}
#feature{
	height: 480px;
	width: 100%;
	background: #fff;
	padding-top:30px;
}

#bienvenida{
	height: 480px;
	background: url(/files/img/blizzard.png);
	padding:40px;
	.rounded-corners(6px);
	border:#bbb3af 1px solid;
	-moz-box-shadow: inset 0 -1px 2px #b4b3aa;
	-webkit-box-shadow: inset 0 -1px 2px #b4b3aa;
	box-shadow: inset 0 -1px 2px #b4b3aa;
	.titulo{
font-family: @mako;
		font-size: 19px;

		color:#5f8247;
		margin-bottom: 15px;
	}
	.texto{
		p{
			text-align: left;
			font-family: @mako;
			font-size: 14px;
			color:#50504f;
			a{
				display: block;
				width: 80px;
				color:#fff;
				padding:10px;
				.linear-gradient(#080808,#353535,25%);
				border:#5c5c5c 1px solid;
				.rounded-corners(4px);
				.box-shadow(0px,2px,4px,#2b2b2b);
				&:hover{
					.linear-gradient(#080808,#353535,0%);
					.box-shadow(0px,2px,4px,#222222);
				}
				img{
					margin-left: 10px;
				}
			}
		}
	}
	.fullindex{
		.texto img{
			margin-left: 10px;
			.box-shadow(0px,0px,2px,#222);
		}
		.texto p{
			font-size: 12px;
		}
		.conicefv{
			background: #005640;
			border: #008260 1px solid;
			.rounded-corners(3px);
			float: left;
			margin-right: 20px;
			width: 295px;
			height: 455px;
			padding:15px;
			img{margin-bottom:10px;}
			p{
				font-size: 12px;
				color:#00d19c;
				text-align: left;
				font-family: @mako;
			}
		}
	}
}

#lista-actores{
	background: url("/files/img/groovepaper.jpg") repeat scroll 0 0 #FFFFFF;
	border-bottom: #72644f 9px solid;
	width: 100%;
	margin-top:-250px;
	border-top:#fbf9ec 1px solid;
	.box-shadow(0px,-4px,6px,#2b2b2b);
	.titulo-bloque{
		font-family: @mako;
		font-size: 13px;
		color:#000;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 10px;
		img{
			margin-right: 8px;
		}

	}
	.bloque_actor_externo{
		clear:both;
		border:#bcbcbc 2px solid;
		padding:8px;
		background: #f8f7f5 url(/files/img/bloque_externo.png);
	}
	.on{background: #fcfeef}
	.bloque_actor_interno{
		background: #fff;
		border:#ebebeb 1px solid;
		a{
			display: block;
			width: 100%;
			height: 35px;
			padding-top: 10px;

			color:#4f4f4f;
			font-family: @mako;
			border-bottom: #ebebeb 1px solid;
			&:hover{
				color:#000;
				-moz-box-shadow: inset 0 -1px 5px #ddd7c5;
				-webkit-box-shadow: inset 0 -1px 5px #ddd7c5;
				box-shadow: inset 0 -1px 5px #ddd7c5;
				background: #fdfcca;
				// border-bottom: #aec6bd 1px solid;
			}
			.conteo{
				float: left;
				margin-left:10px;
				margin-right: 10px;
				.rounded-corners(2px);
				background: #4e9a06;
				text-align: center;
				font-size: 11px;
				color:#fff;
				height: 16px;
				width:20px;
				margin-bottom: 10px;
			}
			.conteox{
				float: left;
				margin-left:10px;
				margin-right: 10px;
				.rounded-corners(2px);
				background: #eee;
				text-align: center;
				font-size: 11px;
				color:#fff;
				height: 16px;
				width:20px;
				margin-bottom: 10px;
			}
		}
	}
}

#estadisticas{
	height: 320px;
	background: #c9d788 url(/files/img/estadisticasback.jpg) no-repeat center;
	border-top:#f3f8a8 1px solid;
	.grafobox{
		background: #fff;
		.rounded-corners(5px);
		height: 265px;
		.box-shadow(0px,3px,0px,#8b8f3e);
		margin-top: 15px;
		.titulo{
			background: #f3f3f2;
			border-bottom: #dfdfdf 1px solid;
			height: 40px;
			line-height: 40px;
			text-align: center;
			.rounded-corners-top(5px);
			font-family: @mako;
			font-size: 15px;
			.text-shadow(0px,1px,0px,#fff);
			color:#4f4f4f;
		}
		.grafo-index{
			padding:20px;
		}
	}
}

// Actores
#actualizarmapa{
	margin:5px;
}
.interna{
	background:#fff url(/files/img/groovepaper.jpg);
}
.fotoactor{
	padding:3px;
	background: #fff;
	border:#dedede 1px solid;
}
.titulo-actor{
	font-size:25px;
	font-family: @mako;
	width: 450px
}

.despactor{
	p{
		font-family: @mako;
		font-size: 13px;
	}
}
.generalform{
	padding:8px;
	border:#c9c8c4 1px solid;
	background: #fff;
	.rounded-corners(5px);
	margin-top:20px;
	.box-shadow(0px, 1px, 2px, #e4e0db);
	margin-bottom: 20px
}
.formelement{
	width:120px;
	float: left;
	margin-right: 15px;
	.labelform{
		font-size: 12px;
		font-family: @mako;
		color:#6c6d68;
	}
	select{
		width: 100%;
	}
}
.consultar{
	float: right;
	margin-top:-10px;
}

.maptabs{
	margin-bottom: -2px;
	width: 300px;
	float:left;
	a{
	}
}
#map{
	z-index: 99;
	margin-bottom: 20px;
	top:5px;
	border-top:#666666 3px solid;
	.box-shadow(0px, 1px, 2px, #adaba9);
}
.conteo{
	float:right;
	width:195px;
}
#contenedor_mapa{
	position: relative;
}
#leyenda{
	// position: relative;
	// left: 790px;
	// top:-520px;
	// z-index: 100;
position: absolute; bottom: 20px; right: 7px;
z-index: 100;
}
#tabladatos{
	padding:15px;
	border:#c9c8c4 1px solid;
	background: #fff;
	.rounded-corners(5px);
	margin-top:5px;
	.box-shadow(0px, 1px, 2px, #e4e0db);
	height: 400px;
	margin-bottom: 40px;
}
#actortable{
	float: left;
	margin:10px 0px;
	tbody tr td a{
		color:#199a7f;
		font-weight: bold;
	}
}
.table tbody tr:hover td,
.table tbody tr:hover th{
	background-color: #fefee7 !important;
}

.cert {
	padding:3px;
	padding-left: 6px;
	width: 130px;
	background: #eee;
	margin:5px 5px 11px 0px;
	font-size: 11px;
	.rounded-corners(4px);
	img{
		float:right;
		margin-top: -8px;
		margin-right: -8px;
	}
}
.fsc{
	background: #4e9a06;
	border:1px solid #f9e311;
	color:#fff;
}
.comer_justo{
	background:#069a96;
	border:1px solid #f9e311;
	color:#fff;
}

.iso{
	background:#f6a70b;
	border:1px solid #f9e311;
	color:#fff;
}

.enproceso{
	background:#f6f33f;
	border:1px solid #f9e311;
	color:#000;
}

.hide{
	display: none;
}

.infobox{
	z-index: 120;
}

//Ficha actor

.botonesficha{
	float:right;
	width: 410px;
}

.ficha{
	border-top: #cacdc7 1px solid;
	margin-top:15px;
	padding-top:15px;
}

.labelficha{
	background: #f6f6f5;
	.rounded-corners(3px);
	border:#d2d0c7 1px solid;
	color:#1c5e50;
	font-family: @mako;
	font-size: 13px;
	padding: 5px;
}
.valor{
	font-family: Georgia;
	font-size: 15px;
	color:#000;
	padding:5px;
}

.fichabox{
	padding:15px;
	border:#a3a29d 1px solid;
	background: #fff;
	margin-top:20px;
}
.labelfichabox{
	color:#1c5e50;
	font-size:13px;
	font-family: @mako;
	width: 140px;
	float:left;
	padding:8px;
}
.valuefichabox{
	font-family: Georgia;
	font-size: 15px;
	color:#000;
	float: right;
	width: 250px;
	padding:8px;
}

//Fichas de seguimiento

.der{
	float:right;
}
.explicacion{
	background: #fff;
	font-family: @mako;
	padding:14px;
	.rounded-corners-bottom(5px);
	border:#cecec9 1px solid; 
	margin-top:-3px;
	.box-shadow(0px, 1px, 2px, #d4d4d4);
	color:#525252;
}

.seguimiento_box{
	background: #fff;
	.box-shadow(0px,2px,2px,#eee);
	margin-top:10px;
	.seguimiento_label{
		background: #c4c7c1;
		padding:10px;
		color:#fff;
		font-family: @mako;
		text-align: center;
		border-top:#989a98 1px solid ;
		.text-shadow(0px, 1px, 0px, #989a98);

	}
	.seguimiento_valor{
		padding:10px;
	}
}

.ano_seguimiento.back{
	background: #aaae50;
	color:#fff;
	.rounded-corners(10px);
	border-bottom:#fff 1px solid;
	font-family: @mako;
	font-weight: bold;
	font-size: 16px;
}
hr{
	border-top:#c9c9c9 1px solid;
}
.labelcon{
	margin:4px;

}
.ano_seguimiento{
	color:#333;
	border-bottom:#adadad 1px dotted;
	font-family: Georgia;
	font-size: 25px;
	margin-top:10px;
	margin-bottom:10px;
	padding-bottom:5px;
}

.box_relacion{
	width:220px;
	margin-right: 15px;
	float:left;
	margin-bottom: 15px;
}

.box_relacion_full{
	width:100%;
	margin-right: 15px;
	float:left;
	margin-bottom: 15px;
}
.field_lista{
	float:left;
	margin-right: 15px;
}
.boton_rel{
	margin-top:15px;
}

.seguimiento_valor .label-warning{
	font-size: 17px
}
.nav{
	margin-bottom: 0px !important;
}
.tab-content{
	margin-bottom: 20px;
	background: #fff;
	padding:10px;
}

.nav-tabs > li > a{
	background: #d2eeb2;
	color:#515c41;
	.text-shadow(0px,1px,0px,#eaffd5);
	&:hover{
		.text-shadow(0px,1px,0px,#fff);
	}
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	.text-shadow(0px,1px,0px,#fff);
}
//Footer
#footer{
	background:#1c5e50 url(/files/img/shadowfooter.png) no-repeat center top;
	height: 52px;
	.footertext1,.footertext2{
		font-family: @mako;
		line-height: 52px;
		color:#fff;
		font-size: 12px;
		color:#eeeeec;
		a{
			color:#fce94f;
		}
	}
	.footertext1{
		float:left;
	}
	.footertext2{
		float: right;
	}

}