{%extends "base.html"%}

{%block extra_js%} 
	<script type="text/javascript" src="/files/js/highcharts.js"></script>
	<script type="text/javascript" src="/files/js/chart_theme.js"></script>
    <script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            credits: {
               text: '',
            },
            title: {
                text: 'Empleados UMF',
                x: -20 //center
            },
            subtitle: {
                text: 'Distribución por sexo',
                x: -20
            },
            xAxis: {
                categories: [
                	{%for s in seguimiento%}
                		'{{s.fecha.year}}',
                	{%endfor%}
                ]
            },
            yAxis: {
                title: {
                    text: 'Cantidad de personas'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>año '+
                        this.x +': '+ this.y +' personas';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
	            {
	                name: 'Hombres',
	                data: [
	                	{%for h in seguimiento%}
	                		{{h.hombres}},
	                	{%endfor%}
	                ]
	            }, 
	            {
	                name: 'Mujeres',
	                data: [
	                	{%for m in seguimiento%}
	                		{{m.mujeres}},
	                	{%endfor%}
	                ]
	            }, 
            ]
        });
    });
    
});

$(function () {
    var chart3;
    $(document).ready(function() {
        chart3 = new Highcharts.Chart({
            chart: {
                renderTo: 'container3',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            credits: {
               text: '',
            },
            title: {
                text: 'Volumenes de venta',
                x: -20 //center
            },
            subtitle: {
                text: 'Promedios anuales',
                x: -20
            },
            xAxis: {
                categories: [
                	{%for s in seguimiento%}
                		'{{s.fecha.year}}',
                	{%endfor%}
                ]
            },
            yAxis: {
                title: {
                    text: 'Volumen de unidades'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>año '+
                        this.x +': '+ this.y +'unidades';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
	            {
	                name: 'Madera en rollo',
	                data: [
	                	{%for rol in seguimiento%}
	                		{{rol.volumen_madera_rollo}},
	                	{%endfor%}
	                ]
	            }, 
	            {
	                name: 'Madera aserrada',
	                data: [
	                	{%for mad in seguimiento%}
	                		{{mad.volumen_madera_aserrada}},
	                	{%endfor%}
	                ]
	            },
	            {
	                name: 'Carbón',
	                data: [
	                	{%for car in seguimiento%}
	                		{{car.volumen_carbon}},
	                	{%endfor%}
	                ]
	            },
	            {
	                name: 'Leña',
	                data: [
	                	{%for len in seguimiento%}
	                		{{len.volumen_lena}},
	                	{%endfor%}
	                ]
	            },  
            ]
        });
    });
    
});


</script>
{%endblock%}

{%block contenido%}
<div class="interna">
    <div class="container_12">
        <div class="grid_12 despactor">
        	<br>
	        <div class="botonesficha">
	            <div class="btn-group">
                <a href="/primera/ficha/{{datos.id}}" id=""class="btn"><i class="icon-file"></i> Ficha técnica</a>
                <a href="/primera/relacion/{{datos.id}}" id=""class="btn "><i class="icon-resize-small"></i> Relaciones de actores</a>
                <a href="/primera/seguimiento/{{datos.id}}" id="" class="btn active"><i class="icon-time"></i> Seguimiento</a>
	            </div>
    		</div>
            <div class="titulo-actor">Seguimiento de empresa de primera transformación</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="ficha">
        	<div class="grid_3">
        		<div class="labelficha">
        			Nombre del propietario
        		</div>
        		<div class="valor">
        			{{datos.nombre_empresa_forestal}}
        		</div>
			</div>
			<div class="grid_3">
				<div class="labelficha">
        			Nombre de propiedad
        		</div>
        		<div class="valor">
        			{{datos.nombre_director}}
        		</div>
			</div>
			
			<div class="clear"></div>
	    </div> 
	    <div class="ficha"> 
	        <div class="grid_6">
	        	<div id="container" style=" height: 300px; margin: 0 auto"></div>
	        	<div class="explicacion">
	        		Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
	        	</div>
	        </div> 
	        <div class="grid_6" style="display:none">
	        	
	        	<div class="explicacion">
	        		Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
	        	</div>
	        </div>

	        <div class="clear"></div>
	        <br>
	        <div class='grid_12'>
	        	<div id="container3" style="min-width: 450px; height: 350px; margin: 0 auto"></div>
	        	<div class="explicacion">
	        		Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.	        		Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
	        	</div>
	        </div>
	       	<div class="clear"></div>     
	        <br>
    	</div>
        
	</div>
</div>
{%endblock%}
