{%extends "base.html"%}

{%block extra_js%} 

    <script type="text/javascript">
    $(document).ready(function() {

    
    });


</script>
{%endblock%}

{%block contenido%}
<div class="interna">
    <div class="container_12">
        <div class="grid_12 despactor">
        	<br>
	        <div class="botonesficha">
	            <div class="btn-group">
                <a href="/primera/ficha/{{datos.id}}" id=""class="btn"><i class="icon-file"></i> Ficha técnica</a>
                <a href="/primera/relacion/{{datos.id}}" id=""class="btn active"><i class="icon-resize-small"></i> Relaciones de actores</a>
                <a href="/primera/seguimiento/{{datos.id}}" id="" class="btn "><i class="icon-time"></i> Seguimiento</a>
	            </div>
    		</div>
            <div class="titulo-actor">Relación de empresa de primera transformacion</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="ficha">
        	<div class="grid_3">
        		<div class="labelficha">
        			Nombre de la empresa
        		</div>
        		<div class="valor">
        			{{datos.nombre_empresa_forestal}}
        		</div>
			</div>
			<div class="grid_3">
				<div class="labelficha">
        			Nombre de Director
        		</div>
        		<div class="valor">
        			{{datos.nombre_director}}
        		</div>
			</div>
			
			<div class="clear"></div>
	    </div> 

      <div class="grid_12 ficha">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Regentes</a></li>
          <li><a href="#tab2" data-toggle="tab">Empresas de manejo de bosques</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active fade" id="tab1">
              {%for r in relacion.all %}
                 {%if r.regente%}
                      <div class="box_relacion">
                         <div class="seguimiento_box">
                             <div class="seguimiento_label">Regente {{r.fecha.year}}</div>
                             <div class="seguimiento_valor">
                                  {{r.regente.nombre_regente}}<br>
                                  <i>Código: </i>{{r.regente.codigo_regente}}<br>
                                  <a href="/regente/ficha/{{r.regente.id}}" class="der btn btn-mini btn-success">Ver →</a>
                                  <div class="clear"></div>
                             </div>
                         </div>
                      </div>
                 {%endif%}
              {%endfor%}
              

              <br>
          </div>
          <div class="tab-pane fade" id="tab2">
                 {%if bosques%}

                      <div class="box_relacion_full">
                         <div class="seguimiento_box">
                             <div class="seguimiento_label">Empresas de manejo de bosques a las que se compra madera</div>
                             <div class="seguimiento_valor">
                                {%for b in bosques%}
                                  {%ifchanged b.fecha_seguimiento.year%}
                                 <br> <span class="label label-warning">{{b.fecha_seguimiento.year}}</span><br>
                                {%endifchanged%}
                                    <div class="field_lista">
                                      <br><b>Nombre de propiedad</b><br>{{b.sequimiento.propietario.nombre_propiedad}}
                                   </div>
                                    <div class="field_lista">
                                      <br><b>Municipio</b><br>{{b.sequimiento.propietario.municipio}}
                                   </div>
                                    <a href="/ficha/{{b.sequimiento.propietario.id}}" class="der btn btn-mini btn-success boton_rel">Ver →</a>
                                   <div class="clear"></div><br>
                                   <hr>
                                 {%endfor%}
                             </div>
                         </div>
                      </div>
                 {%endif%}

          </div>
        </div>
      </div>
      </div>
      <div class="clear"></div>


        
	</div>
</div>
{%endblock%}
