{%extends "base.html"%}

{%block extra_js%}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
     $(document).ready(function () {
        // Create an array of styles.
        var styles = [
        {
        "featureType": "road",
        "stylers": [
        { "hue": "#00ddff" },
        { "lightness": 45 },
        { "visibility": "off" }
        ]
        },{
        "stylers": [
        { "weight": 0.3 }
        ]
        },{
        "featureType": "water",
        "stylers": [
        { "hue": "#00d4ff" },
        { "saturation": -33 },
        { "lightness": 3 },
        { "gamma": 1.11 }
        ]
        },{
        "featureType": "landscape.natural",
        "stylers": [
        { "saturation": 12 },
        { "hue": "#b2ff00" },
        { "gamma": 0.97 }
        ]
        },{
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
        { "hue": "#ff9100" }
        ]
        },{
        }
        ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
        {name: "Styled Map"});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(12.877, -85.001),
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        var map = new google.maps.Map(document.getElementById('map'),
        mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');

        function ocultar(exist){
            if (exist==""){
                return "hide";
            }
        }

        if ({{centinel}} == 1){
            var ruta = '/segunda/ver/';
        }else{
            var ruta = '/segunda/todo/';
        }
            $.getJSON(ruta, function(data){
            $.each(data, function(i, elemento){
                var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    name: elemento.nombre,
                    desc: elemento.propiedad,
                    icon: '/files/img/segundaicon.png'                        
                });
                //for each (var item in elemento.tipo) alert(item);
                google.maps.event.addListener(marker, "click", function() {
                    var html = '<div class="infobox"><b>' + unescape(elemento.nombre) + 
                               '</b><br>Director: ' + unescape(elemento.director) + 
                               '</div><a href="/segunda/ficha/'+unescape(elemento.id)+'" class="btn btn-mini" style="margin-right:5px; float:right;"><i class="icon-zoom-in"></i> Ver más</a></div>';
                   infowindow = new google.maps.InfoWindow({
                                content: html,
                                zIndex: 999,
                            });
              infowindow.open(map, this);
              });                     
            });
        });
            /* Initialise datatables */
         var oTable = $('#actortable').dataTable({
               
                "oLanguage": {
                            "sProcessing":   "Procesando...",
                            "sLengthMenu":   "Mostrar _MENU_ registros",
                            "sZeroRecords":  "No se encontraron resultados",
                            "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                            "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                            "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                            "sInfoPostFix":  "",
                            "sSearch":       "Buscar:",
                            "sUrl":          "",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sPrevious": "Anterior",
                                "sNext":     "Siguiente",
                                "sLast":     "Último"
                            }
                    }
         });
        $('#tabladatos').hide();
        $('#vermapa').click(function(){
            $('#tabladatos').fadeOut();
            $('#contenedor_mapa').fadeIn();
            $('#vermapa').addClass('active');
            $('#vertabla').removeClass('active');
        });
        $('#vertabla').click(function(){
            $('#contenedor_mapa').fadeOut();
            $('#tabladatos').fadeIn();
            $('#vertabla').addClass('active');
            $('#vermapa').removeClass('active');

        });

        //Agergar a combobox las variables seleccionadas

        {% if request.session.organizado %}
            $('#id_org_empresarial').val({{request.session.org_empresarial.id}});
        {% endif %}
        {% if request.session.gti %}
            $('#id_gti').val({{request.session.gti.id}});
        {% endif %}

    }); //fin del initialize

</script>

{%endblock%}

{%block contenido%}
<style type="text/css">
      #map_canvas {
            display: none;
      }
</style>
<div class="interna">
    <div class="container_12">
        <br>
        <div class="grid_2">
            <img class="fotoactor" src="/files/img/segunda.jpg">
        </div>
        <div class="grid_10 despactor">
            <div class="titulo-actor">Empresa de segunda transformación de la madera</div>
            <p>
Persona natural o jurídica  que utiliza  la madera  como materia en la producción de productos acabados y semi-acabados (muebles, paneles, entre otros); con aserraderos estacionarios (permanentes) y/o  móviles (portátiles). También se incluye aquellas empresas que utilizan como materia prima los bienes derivados de la primera transformación, y los convierte en cualquier bien intermedio o final. Se encuentran en la cadena de valor en el eslabón de la transformación.
            </p>
        </div>
        <div class="clear"></div>
        <div class="grid_12">
            <form action="." method="POST">
              {% csrf_token %}
                <div class="generalform">
                    <div class="formelement">
                        <div class="labelform">{{form.org_empresarial.label}}</div>
                        <div class="filtros">{{form.org_empresarial}}<br>{{form.org_empresarial.errors}}</div>
                    </div>
                    <div class="formelement">
                        <div class="labelform">{{form.gobierno_gti.label}}</div>
                        <div class="filtros">{{form.gobierno_gti}}<br>{{form.gobierno_gti.errors}}</div>
                    </div>
                    <div class="formelement">
                        <div class="labelform">{{form.area_trabajo.label}}</div>
                        <div class="filtros">{{form.area_trabajo}}<br>{{form.area_trabajo.errors}}</div>
                    </div>
                    <div class="formelement">
                        <div class="labelform">{{form.producto_vende.label}}</div>
                        <div class="filtros">{{form.producto_vende}}<br>{{form.producto_vende.errors}}</div>
                    </div>
                    <button id="actualizarmapa"class="consultar btn btn-warning mapafiltrado"><i class="icon-refresh icon-white"></i> Actualizar mapa </button>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="grid_12">
            <div class="maptabs">
                <div class="btn-group">
                <a href="#" id="vermapa"class="btn  btn-large active"><i class="icon-globe"></i>  Ver mapa</a>
                <a href="#" id="vertabla"class="btn  btn-large"><i class="icon-list-alt"></i>  Ver lista de datos</a>
                </div>
            </div>
            <div class="alert alert-success conteo"><b>{{consulta.count}}</b> Dueños de bosques encontrados</div>
            <div class="clear"></div>
            <div id="contenedor_mapa">
                <div id="map" style="width: 100%; height: 500px">
                    
                </div>
            </div>
            
            <div id="tabladatos">
                <table class="table table-striped table-bordered table-condensed" id="actortable">
                    <thead>
                        <tr>
                            <th>Nombre de Empresa</th>
                            <th>Departamento</th>
                            <th>Municipio</th>
                            <th>Tipo de organización</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in lista %}
                        <tr class="gradeA">
                            <td><a href="/segunda/ficha/{{obj.4}}" class="btn btn-mini" style="margin-right:5px;"><i class="icon-zoom-in"></i> </a> <a href="/segunda/ficha/{{obj.4}}">{{obj.0}}</a></td>
                            <td>{{obj.1}}</td>
                            <td>{{obj.2}}</td>
                            <td>{%for b in obj.3.all%}
                                {{b}},
                                {%endfor%}
                            </td> 
                        </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}
