{%extends "base.html"%}

{%block extra_js%} 

{%endblock%}

{%block contenido%}
<div class="interna">
    <div class="container_12">
        <div class="grid_12 despactor">
        	<br>
	        <div class="botonesficha">
	            <div class="btn-group">
	           	  <a href="/segunda/ficha/{{datos.id}}" id=""class="btn active"><i class="icon-file"></i> Ficha técnica</a>
	          	  <a href="/segunda/relacion/{{datos.id}}" id=""class="btn "><i class="icon-resize-small"></i> Relaciones de actores</a>
	          	  <a href="/segunda/seguimiento/{{datos.id}}" id="" class="btn "><i class="icon-time"></i> Seguimiento</a>
	            </div>
    		</div>
            <div class="titulo-actor">Ficha técnica de empresa forestal de segunda transformación</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="ficha">
        	<div class="grid_3">
        		<div class="labelficha">
        			Nombre empresa forestal
        		</div>
        		<div class="valor">
        			{{datos.nombre_comercial}}
        		</div>

        		<div class="labelficha">
        			Año de creación
        		</div>
        		<div class="valor">
        			{{datos.creacion}}
        		</div>

				<div class="labelficha">
        			Nombre de Director
        		</div>
        		<div class="valor">
					{{datos.nombre_director}}
        		</div>
				{%if datos.tel_convencional%}
	 				<div class="labelficha">
	        			Teléfono
	        		</div>
	        		<div class="valor">
						{{datos.tel_convencional}}
	        		</div>
				{%endif%}

				{%if datos.tel_celular%}
	 				<div class="labelficha">
	        			Celular
	        		</div>
	        		<div class="valor">
						{{datos.tel_celular}}
	        		</div>
				{%endif%}
			</div>
			<div class="grid_3">
				{%if datos.pagina_web%}
				<div class="labelficha">
        			Sitio web
        		</div>
        		<div class="valor">
					{{datos.pagina_web}}
				</div>
				{%endif%}
				{%if datos.email%}
	 				<div class="labelficha">
	        			Email
	        		</div>
	        		<div class="valor">
						{{datos.email}}
	        		</div>
				{%endif%}
				{%if datos.direccion%}
	 				<div class="labelficha">
	        			Dirección
	        		</div>
	        		<div class="valor">
						{{datos.direccion}}
	        		</div>
				{%endif%}
				{%if datos.municipio%}
	 				<div class="labelficha">
	        			Municipio
	        		</div>
	        		<div class="valor">
						{{datos.municipio}}
	        		</div>
				{%endif%}
			</div>
			<div class="grid_6">

				<div class="fichabox" style="margin-top:0px;">
					{%if datos.area_trabajo.count > 0%}
					<div class="labelfichabox">
						Área de trabajo
					</div>
					<div class="valuefichabox">
						{%for tipo in datos.area_trabajo.all%}
							{{tipo}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
					{%endif%}
					{%if datos.apoyo_produccion.count > 0%}
					<div class="labelfichabox">
						Apoyo a la producción
					</div>
					<div class="valuefichabox">
						{%for apo in datos.apoyo_produccion.all%}
							{{apo}},
						{%endfor%}
					</div>
					{%endif%}
					<div class="clear"></div>	
					{%if datos.propia_secado%}
						<div class="labelfichabox">
							Capacidad de secado
						</div>
						<div class="valuefichabox">
							{{datos.propia_secado}}
						</div>
						<div class="clear"></div>	
					{%endif%}
					{%if datos.volumen_anual%}
						<div class="labelfichabox">
							Volumen anual de materia procesada
						</div>
						<div class="valuefichabox">
							{{datos.volumen_anual}}
						</div>
						<div class="clear"></div>	
					{%endif%}
					{%if datos.promedio%}
						<div class="labelfichabox">
							Promedio mensual de unidades producidas
						</div>
						<div class="valuefichabox">
							{{datos.promedio}}
						</div>
						<div class="clear"></div>	
					{%endif%}
				</div>
			</div>

			<div class="clear"></div>
			<div class="grid_6">

				<div class="fichabox">
					<div class="labelfichabox">
						Organizado
					</div>
					<div class="valuefichabox">
						{%for org in datos.organizado.all%}
							{{org}},
						{%endfor%}
					</div>
					<div class="clear"></div>
					{%if datos.desde%}
						<div class="labelfichabox">
							Desde
						</div>
						<div class="valuefichabox">
							{{datos.desde}}
						</div>
					{%endif%}
					<div class="clear"></div>
				</div>

				<div class="fichabox">
					<div class="labelfichabox">
						Productos que venden
					</div>
					<div class="valuefichabox">
						{%for p in datos.producto_vende.all%}
							{{p}},
						{%endfor%}
					</div>
					<div class="clear"></div>
					{%if datos.no_maderable.count > 0%}	
						<div class="labelfichabox">
							Productos no maderables
						</div>
						<div class="valuefichabox">
							{%for mad in datos.no_maderable.all%}
								{{mad}},
							{%endfor%}
						</div>
						<div class="clear"></div>
					{%endif%}	
				</div>	

				{%if datos.tipo_producto.count > 0%}
				<div class="fichabox">
					<div class="labelfichabox">
						Tipo de producto
					</div>
					<div class="valuefichabox">
						{%for tipo_p in datos.tipo_producto.all%}
							{{tipo_p}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
				</div>
				{%endif%}	

				{%if datos.secado.count > 0%}
				<div class="fichabox">
					<div class="labelfichabox">
						Tipo de secado
					</div>
					<div class="valuefichabox">
						{%for tipo_s in datos.secado.all%}
							{{tipo_s}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
				</div>
				{%endif%}
				{%if datos.capacidad_horno.count > 0%}
				<div class="fichabox">
					<div class="labelfichabox">
						Capacidad de horno
					</div>
					<div class="valuefichabox">
						{{datos.capacidad_horno}}
					</div>
					<div class="clear"></div>	
				</div>
				{%endif%}
				<br><br><br>
			</div>
			<div class="grid_6" style="margin-bottom:20px">


				{%if datos.gobierno_gti%}
				<div class="fichabox">
					<div class="labelfichabox">
						Gobierno Territorial
					</div>
					<div class="valuefichabox">
						{{datos.get_gobierno_gti_display}}
					</div>
					<div class="clear"></div>	
				
				{%if datos.nombre_gti%}
					<div class="labelfichabox">
						Nombre del GTI
					</div>
					<div class="valuefichabox">
						{{datos.nombre_gti}}
					</div>
					<div class="clear"></div>
				{%endif%}	
				</div>
				{%endif%}

				
				<div class="fichabox">
					{%if datos.otro_social.count > 0%}
					<div class="labelfichabox">
						Buenas prácticas sociales y económicas
					</div>
					<div class="valuefichabox">
						{%for soc in datos.otro_social.all%}
							{{soc}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
					{%endif%}

					{%if datos.otro_ambiental.count > 0%}
					<div class="labelfichabox">
						Buenas prácticas ambientales
					</div>
					<div class="valuefichabox">
						{%for amb in datos.otro_ambiental.all%}
							{{amb}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
					{%endif%}
					{%if datos.nivel_tecnologico.count > 0%}	
						<div class="labelfichabox">
							Nivel tecnológico
						</div>
						<div class="valuefichabox">
							{%for tec in datos.nivel_tecnologico.all%}
								{{tec}},
							{%endfor%}
						</div>
						<div class="clear"></div>
					{%endif%}	
					{%if datos.vision_empresarial.count > 0%}	
						<div class="labelfichabox">
							Visión empresarial
						</div>
						<div class="valuefichabox">
							{%for vis in datos.vision_empresarial.all%}
								{{vis}},
							{%endfor%}
						</div>
						<div class="clear"></div>
					{%endif%}	
				</div>
				
			</div>
		</div>
	</div>
</div>
{%endblock%}
