{%extends "base.html"%}

{%block extra_js%}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
     $(document).ready(function () {
        // Create an array of styles.
        var styles = [
        {
        "featureType": "road",
        "stylers": [
        { "hue": "#00ddff" },
        { "lightness": 45 },
        { "visibility": "off" }
        ]
        },{
        "stylers": [
        { "weight": 0.3 }
        ]
        },{
        "featureType": "water",
        "stylers": [
        { "hue": "#00d4ff" },
        { "saturation": -33 },
        { "lightness": 3 },
        { "gamma": 1.11 }
        ]
        },{
        "featureType": "landscape.natural",
        "stylers": [
        { "saturation": 12 },
        { "hue": "#b2ff00" },
        { "gamma": 0.97 }
        ]
        },{
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
        { "hue": "#ff9100" }
        ]
        },{
        }
        ];

        // Create a new StyledMapType object, passing it the array of styles,
        // as well as the name to be displayed on the map type control.
        var styledMap = new google.maps.StyledMapType(styles,
        {name: "Styled Map"});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(12.877, -85.001),
            mapTypeControlOptions: {
              mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
            }
        };
        var map = new google.maps.Map(document.getElementById('map'),
        mapOptions);

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('map_style', styledMap);
        map.setMapTypeId('map_style');
        
        function ocultar(exist){
            if (exist==""){
                return "hide";
            }
        }

        if ({{centinel}} == 1){
            var ruta = '/ver/';
        }else{
            var ruta = '/ver/todo/';
        }
            $.getJSON(ruta, function(data){
            $.each(data, function(i, elemento){
                var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    name: elemento.nombre,
                    desc: elemento.propiedad,
                    icon: '/files/img/mapicon'+elemento.coloricon+'.png'                        
                });
                //for each (var item in elemento.tipo) alert(item);
                google.maps.event.addListener(marker, "click", function() {
                    var html = '<div class="infobox"><b>' + unescape(elemento.propiedad) + 
                               '</b><br>' + unescape(elemento.nombre) +
                               '</b><br><br><div class="well"><b>Certificaciones</b><br>' + 
                               '<div class="cert fsc '+ocultar(elemento.fsc)+'">'+unescape(elemento.fsc) +'<img src="/files/img/badgefsc.png"></div>'+ 
                               '<div class="cert fsc '+ocultar(elemento.fsc_slimf)+'">' + unescape(elemento.fsc_slimf) +'<img src="/files/img/badgefsc.png"></div>'+ 
                               '<div class="cert fsc '+ocultar(elemento.fsc_cw)+'">' + unescape(elemento.fsc_cw) +'<img src="/files/img/badgefsc.png"></div>'+ 
                               '<div class="cert comer_justo '+ocultar(elemento.comer_justo)+'">' + unescape(elemento.comer_justo) +'<img src="/files/img/badgefsc.png"></div>'+ 
                               '<div class="cert iso '+ocultar(elemento.iso)+'">' + unescape(elemento.iso) +'<img src="/files/img/badgeiso.png"></div>'+ 
                               '<div class="cert fsc '+ocultar(elemento.otro)+'">' + unescape(elemento.otro) +'<img src="/files/img/badgeotro.png"></div>'+ 
                                '<div class="cert notiene '+ocultar(elemento.no)+'">' + unescape(elemento.no) +'</div>'+ 
                                '<div class="cert enproceso '+ocultar(elemento.proceso)+'">' + unescape(elemento.proceso) +'</div>'+ 
                               '</div><a href="/ficha/'+unescape(elemento.id)+'" class="btn btn-mini" style="margin-right:5px; float:right;"><i class="icon-zoom-in"></i> Ver mas</a></div>';
                   infowindow = new google.maps.InfoWindow({
                                content: html,
                                zIndex: 999,
                            });
              infowindow.open(map, this);
              });                     
            });
        });
            /* Initialise datatables */
         var oTable = $('#actortable').dataTable({
               
                "oLanguage": {
                            "sProcessing":   "Procesando...",
                            "sLengthMenu":   "Mostrar _MENU_ registros",
                            "sZeroRecords":  "No se encontraron resultados",
                            "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                            "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                            "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                            "sInfoPostFix":  "",
                            "sSearch":       "Buscar:",
                            "sUrl":          "",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sPrevious": "Anterior",
                                "sNext":     "Siguiente",
                                "sLast":     "Último"
                            }
                    }
         });
        $('#tabladatos').hide();
        $('#vermapa').click(function(){
            $('#tabladatos').fadeOut();
            $('#contenedor_mapa').fadeIn();
            $('#vermapa').addClass('active');
            $('#vertabla').removeClass('active');
        });
        $('#vertabla').click(function(){
            $('#contenedor_mapa').fadeOut();
            $('#tabladatos').fadeIn();
            $('#vertabla').addClass('active');
            $('#vermapa').removeClass('active');

        });

        //Agergar a combobox las variables seleccionadas

        {% if request.session.organizado %}
            $('#id_organizado').val({{request.session.organizado.id}});
        {% endif %}
        {% if request.session.fecha %}
            $('#id_fecha').val({{request.session.fecha.id}});
        {% endif %}
        {% if request.session.tipo_propiedad %}
            $('#id_tipo_propiedad').val({{request.session.tipo_propiedad.id}});
        {% endif %}
        {% if request.session.gti %}
            $('#id_gti').val({{request.session.gti.id}});
        {% endif %}
        {% if request.session.tipo_bosque_umf %}
            $('#id_tipo_bosque_umf').val({{request.session.tipo_bosque_umf.id}});
        {% endif %}

    }); //fin del initialize

</script>

{%endblock%}

{%block contenido%}
<style type="text/css">
      #map_canvas {
            display: none;
      }
</style>
<div class="interna">
    <div class="container_12">
        <br>
        <div class="grid_2">
            <img class="fotoactor" src="/files/img/duenobosque.jpg">
        </div>
        <div class="grid_10 despactor">
            <div class="titulo-actor">Empresa de manejo de bosque:</div>
            <p>
Persona natural o jurídica que tiene dominio y posesión de una superficie de tierra, la que se encuentra total o parcialmente cubierta de bosques naturales, y pueden estar sometidos a un régimen de manejo forestal sostenible. La propiedad de la tierra del bosque puede ser individual, colectiva asociativa, de comunidades indígenas y no indígenas.
            </p>
        </div>
        <div class="clear"></div>
        <div class="grid_12">
            <form action="." method="POST">
              {% csrf_token %}
                <div class="generalform">
                    <!-- 
                    <div class="formelement">
                        <div class="labelform">{{form.fecha.label}}</div>
                        <div class="filtros">{{form.fecha}}<br>{{form.fecha.errors}}</div>
                    </div>
                    -->
                    <div class="formelement">
                        <div class="labelform">{{form.tipo_propiedad.label}}</div>
                        <div class="filtros">{{form.tipo_propiedad}}<br>{{form.tipo_propiedad.errors}}</div>
                    </div>
                    <!-- <div class="label">{{form.area_total.label}}</div>
                    <div class="filtros">{{form.area_total}}<br>{{form.area_total.errors}}</div>
                    <div class="clean"></div> -->
                    <!-- 
                    <div class="formelement">
                        <div class="labelform">{{form.organizado.label}}</div>
                        <div class="filtros">{{form.organizado}}<br>{{form.organizado.errors}}</div>
                    </div> -->

                    <div class="formelement">
                        <div class="labelform">{{form.gti.label}}</div>
                        <div class="filtros">{{form.gti}}<br>{{form.gti.errors}}</div>
                    </div>

                    <div class="formelement">
                        <div class="labelform">{{form.tipo_bosque_umf.label}}</div>
                        <div class="filtros">{{form.tipo_bosque_umf}}<br>{{form.tipo_bosque_umf.errors}}</div>
                    </div>

                    <div class="formelement">
                        <div class="labelform">{{form.tipo_certificacion.label}}</div>
                        <div class="filtros">{{form.tipo_certificacion}}<br>{{form.tipo_certificacion.errors}}</div>
                    </div>

                    <button id="actualizarmapa"class="consultar btn btn-warning mapafiltrado"><i class="icon-refresh icon-white"></i> Actualizar mapa </button>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="grid_12">
            <div class="maptabs">
                <div class="btn-group">
                <a href="#" id="vermapa"class="btn  btn-large active"><i class="icon-globe"></i>  Ver mapa</a>
                <a href="#" id="vertabla"class="btn  btn-large"><i class="icon-list-alt"></i>  Ver lista de datos</a>
                </div>
            </div>
            <div class="alert alert-success conteo"><b>{{consulta.count}}</b> Dueños de bosques encontrados</div>
            <div class="clear"></div>
            <div id="contenedor_mapa">
                <div id="map" style="width: 100%; height: 500px">
                    
                </div>
                <img src="/files/img/leyenda.png" id="leyenda">
            </div>
            
            <div id="tabladatos">
                <table class="table table-striped table-bordered table-condensed" id="actortable">
                    <thead>
                        <tr>
                            <th>Nombre del propietario</th>
                            <th>Sexo</th>
                            <th>Área total (ha)</th>
                            <th>Departamento</th>
                            <th>Municipio</th>
                            <th>Tipo bosque UMF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in lista %}
                        <tr class="gradeA">
                            <td><a href="/ficha/{{obj.6}}" class="btn btn-mini" style="margin-right:5px;"><i class="icon-zoom-in"></i> </a> <a href="/ficha/{{obj.6}}">{{obj.0}}</a></td>
                            <td>{{obj.1}}</td>
                            <td>{{obj.2}}</td>
                            <td>{{obj.3}}</td>
                            <td>{{obj.4}}</td>
                            <td>{%for b in obj.5.all%}
                                {{b}},
                                {%endfor%}
                            </td> 
                        </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock%}
