{%extends "base.html"%}

{%block extra_js%} 
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
     $(document).ready(function () {
     	var myLatLng = new google.maps.LatLng{{punto}};
    	var mapOptions = {
      	zoom: 10,
      	center: myLatLng,
      	mapTypeId: google.maps.MapTypeId.TERRAIN
    	};

    var bermudaTriangle;

    var map = new google.maps.Map(document.getElementById("map_ficha"),mapOptions);

    var triangleCoords = [ {%for puntos in lista_coordenadas%}
        new google.maps.LatLng{{puntos}},
        {%endfor%}
    ];

    // Construct the polygon
    bermudaTriangle = new google.maps.Polygon({
      paths: triangleCoords,
      strokeColor: "#FF0000",
      strokeOpacity: 1,
      strokeWeight: 2,
      fillColor: "#FF0000",
      fillOpacity: 0.45
    });

   bermudaTriangle.setMap(map);
  });
</script>
{%endblock%}

{%block contenido%}
<div class="interna">
    <div class="container_12">
        <div class="grid_12 despactor">
        	<br>
	        <div class="botonesficha">
	            <div class="btn-group">
	           	  <a href="/ficha/{{datos.id}}" id=""class="btn active"><i class="icon-file"></i> Ficha técnica</a>
	          	  <a href="/ficha/relacion/{{datos.id}}" id=""class="btn "><i class="icon-resize-small"></i> Relaciones de actores</a>
	          	  <a href="/ficha/seguimiento/{{datos.id}}" id="" class="btn "><i class="icon-time"></i> Seguimiento</a>
	            </div>
    		</div>
            <div class="titulo-actor">Ficha técnica de propietario de bosque</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="ficha">
        	<div class="grid_3">
        		<div class="labelficha">
        			Nombre del propietario
        		</div>
        		<div class="valor">
        			{{datos.nombre_propietario}}
        		</div>

        		<div class="labelficha">
        			No. registro catastral
        		</div>
        		<div class="valor">
        			{{datos.registro_catastral}}
        		</div>

				<div class="labelficha">
        			Tipo de propiedad
        		</div>
        		<div class="valor">
					{%for propiedad in datos.tipo_propiedad.all%}
						{{propiedad}}<br>
					{%endfor%}
        		</div>
				{%if datos.tel_convencional%}
	 				<div class="labelficha">
	        			Teléfono
	        		</div>
	        		<div class="valor">
						{{datos.tel_convencional}}
	        		</div>
				{%endif%}

				{%if datos.tel_celular%}
	 				<div class="labelficha">
	        			Celular
	        		</div>
	        		<div class="valor">
						{{datos.tel_celular}}
	        		</div>
				{%endif%}
				{%if datos.email%}
	 				<div class="labelficha">
	        			Email
	        		</div>
	        		<div class="valor">
						{{datos.email}}
	        		</div>
				{%endif%}
				{%if datos.direccion%}
	 				<div class="labelficha">
	        			Dirección
	        		</div>
	        		<div class="valor">
						{{datos.direccion}}
	        		</div>
				{%endif%}
			</div>
			<div class="grid_3">
				<div class="labelficha">
        			Sexo
        		</div>
        		<div class="valor">
					{{datos.get_sexo_propietario_display}}
				</div>

				<div class="labelficha">
        			Nombre de propiedad
        		</div>
        		<div class="valor">
        			{{datos.nombre_propiedad}}
        		</div>

 				<div class="labelficha">
        			Área total
        		</div>
        		<div class="valor">
					{{datos.area_propiedad}} ha
        		</div>
				

 				<div class="labelficha">
        			Municipio
        		</div>
        		<div class="valor">
					{{datos.municipio}}
        		</div>

			</div>
			<div class="grid_6">
				{%if punto%}
					<div id="map_ficha" style="width: 100%; height: 250px"></div>
				{%else%}
					<img src="/files/img/nopoligon.png">
				{%endif%}
			</div>
			<div class="clear"></div>
			<div class="grid_6">

				<div class="fichabox">
					<div class="labelfichabox">
						Organizado
					</div>
					<div class="valuefichabox">
						{%for org in datos.organizado.all%}
							{{org}},
						{%endfor%}
					</div>
					<div class="clear"></div>
					{%if datos.organizacion.count > 0%}
						<div class="labelfichabox">
							Organización
						</div>
						<div class="valuefichabox">
							
							{%for orga in datos.organizacion.all%}
								{{orga}},
							{%endfor%}
						</div>
					{%endif%}
					{%if datos.desde%}
						<div class="labelfichabox">
							Desde
						</div>
						<div class="valuefichabox">
							{{datos.desde}}
						</div>
					{%endif%}
					<div class="clear"></div>
				</div>

				<div class="fichabox">
					<div class="labelfichabox">
						Tipo de bosque
					</div>
					<div class="valuefichabox">
						{%for bosq in datos.bosques_umf.all%}
							{{bosq}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
				</div>	

				{%if datos.tipo_producto.count > 0%}
				<div class="fichabox">
					<div class="labelfichabox">
						Tipo de producto
					</div>
					<div class="valuefichabox">
						{%for tipo_p in datos.tipo_producto.all%}
							{{tipo_p}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
				</div>
				{%endif%}	

				{%if datos.secado.count > 0%}
				<div class="fichabox">
					<div class="labelfichabox">
						Tipo de secado
					</div>
					<div class="valuefichabox">
						{%for tipo_s in datos.secado.all%}
							{{tipo_s}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
				</div>
				{%endif%}

				<br><br><br>
			</div>
			<div class="grid_6" style="margin-bottom:20px">

				<div class="fichabox">
					{%if datos.tipo_certificacion.count > 0%}
					<div class="labelfichabox">
						Certificación
					</div>
					<div class="valuefichabox">
						{%for cert in datos.tipo_certificacion.all%}
							{%if cert.id == 1%}
								<div class="cert ">{{cert}}</div>
							{%endif%}
							{%if cert.id == 2%}
								<div class="cert enproceso">{{cert}}</div>
							{%endif%}
							{%if cert.id == 3 or cert.id == 4 or cert.id == 5 or cert.id == 6%}
								<div class="cert fsc">{{cert}}<img src="/files/img/badgefsc.png"></div>
							{%endif%}
							{%if cert.id == 7%}
								<div class="cert iso">{{cert}}<img src="/files/img/badgeiso.png"></div>
							{%endif%}
							{%if cert.id == 8%}
								<div class="cert otro">{{cert}}<img src="/files/img/badgeotro.png"></div>
							{%endif%}						
						{%endfor%}
					</div>
					<div class="clear"></div>	
					{%endif%}
				</div>

				{%if datos.gobierno_gti%}
				<div class="fichabox">
					<div class="labelfichabox">
						Gobierno territorial
					</div>
					<div class="valuefichabox">
						{{datos.get_gobierno_gti_display}}
					</div>
					<div class="clear"></div>	
				
				{%if datos.nombre_gti%}
					<div class="labelfichabox">
						Nombre del GTI
					</div>
					<div class="valuefichabox">
						{{datos.nombre_gti}}
					</div>
					<div class="clear"></div>
				{%endif%}	
				</div>
				{%endif%}

				
				<div class="fichabox">
					{%if datos.naturales.count > 0%}
					<div class="labelfichabox">
						Especies naturales
					</div>
					<div class="valuefichabox">
						{%for nat in datos.naturales.all%}
							{{nat}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
					{%endif%}

					{%if datos.introducida.count > 0%}
					<div class="labelfichabox">
						Especies introducidas
					</div>
					<div class="valuefichabox">
						{%for int in datos.introducida.all%}
							{{int}},
						{%endfor%}
					</div>
					<div class="clear"></div>	
					{%endif%}
				</div>
				
			</div>
		</div>
	</div>
</div>
{%endblock%}
