{%extends "base.html"%}

{%block extra_js%} 

{%endblock%}

{%block contenido%}
<div class="interna">
    <div class="container_12">
        <div class="grid_12 despactor">
        	<br>
	        <div class="botonesficha">
	            <div class="btn-group">
                <a href="/regente/ficha/{{datos.id}}" id=""class="btn active"><i class="icon-file"></i> Ficha técnica</a>
                <a href="/regente/relacion/{{datos.id}}" id=""class="btn "><i class="icon-resize-small"></i> Relaciones de actores</a>
                <a href="/regente/seguimiento/{{datos.id}}" id="" class="btn"><i class="icon-time"></i> Seguimiento</a>
	            </div>
    		</div>
            <div class="titulo-actor">Ficha técnica de Regente Forestal</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="ficha">
        	<div class="grid_3">
        		<div class="labelficha">
        			Nombre de regente
        		</div>
        		<div class="valor">
        			{{datos.nombre_regente}}
        		</div>

        		<div class="labelficha">
        			Código de regente
        		</div>
        		<div class="valor">
        			{{datos.codigo_regente}}
        		</div>
        		<div class="labelficha">
        			Años de experiencia
        		</div>
        		<div class="valor">
        			{{datos.experiencia}}
        		</div>
				{%if datos.tel_convencional%}
	 				<div class="labelficha">
	        			Teléfono
	        		</div>
	        		<div class="valor">
						{{datos.tel_convencional}}
	        		</div>
				{%endif%}

				{%if datos.tel_celular%}
	 				<div class="labelficha">
	        			Celular
	        		</div>
	        		<div class="valor">
						{{datos.tel_celular}}
	        		</div>
				{%endif%}
			</div>
			<div class="grid_3">
				{%if datos.pagina_web%}
				<div class="labelficha">
        			Fecha de acreditación
        		</div>
        		<div class="valor">
					{{datos.fecha_acreditacion}}
				</div>
				{%endif%}
				{%if datos.pagina_web%}
				<div class="labelficha">
        			Sitio web
        		</div>
        		<div class="valor">
					{{datos.pagina_web}}
				</div>
				{%endif%}
				{%if datos.email%}
	 				<div class="labelficha">
	        			Email
	        		</div>
	        		<div class="valor">
						{{datos.email}}
	        		</div>
				{%endif%}
				{%if datos.direccion%}
	 				<div class="labelficha">
	        			Dirección
	        		</div>
	        		<div class="valor">
						{{datos.direccion}}
	        		</div>
				{%endif%}
				{%if datos.municipio%}
	 				<div class="labelficha">
	        			Municipio
	        		</div>
	        		<div class="valor">
						{{datos.municipio}}
	        		</div>
				{%endif%}
			</div>
			<div class="grid_6">

				<div class="fichabox" style="margin-top:0px;">
					{%if datos.perfil %}
					<div class="labelfichabox">
						Perfil / Experiencia
					</div>
					<div class="valuefichabox">
						{{datos.perfil}}
					</div>
					<div class="clear"></div>	
					{%endif%}
					{%if datos.apoyo_produccion.count > 0%}
					<div class="labelfichabox">
						Apoyo a la producción
					</div>
					<div class="valuefichabox">
						{%for apo in datos.apoyo_produccion.all%}
							{{apo}},
						{%endfor%}
					</div>
					{%endif%}
					<div class="clear"></div>	
					{%if datos.propia_secado%}
						<div class="labelfichabox">
							Capacidad de secado
						</div>
						<div class="valuefichabox">
							{{datos.propia_secado}}
						</div>
						<div class="clear"></div>	
					{%endif%}
					{%if datos.volumen_anual%}
						<div class="labelfichabox">
							Volumen anual de materia procesada
						</div>
						<div class="valuefichabox">
							{{datos.volumen_anual}}
						</div>
						<div class="clear"></div>	
					{%endif%}
					{%if datos.promedio%}
						<div class="labelfichabox">
							Promedio mensual de unidades producidas
						</div>
						<div class="valuefichabox">
							{{datos.promedio}}
						</div>
						<div class="clear"></div>	
					{%endif%}
				</div>
			</div>

			<div class="clear"></div>
			<div class="grid_6">

				<div class="fichabox">
					<div class="labelfichabox">
						Organizado
					</div>
					<div class="valuefichabox">
						{%for org in datos.organizado.all%}
							{{org}},
						{%endfor%}
					</div>
					<div class="clear"></div>
					{%if datos.desde%}
						<div class="labelfichabox">
							Desde
						</div>
						<div class="valuefichabox">
							{{datos.desde}}
						</div>
					{%endif%}
					<div class="clear"></div>
				</div>

				<br><br><br>
			</div>
			<div class="grid_6" style="margin-bottom:20px">

				<div class="fichabox">
					<div class="labelfichabox">
						Área de trabajo
					</div>
					<div class="valuefichabox">
						{%for a in datos.area_trabajo.all%}
							{{a}},
						{%endfor%}
					</div>
					<div class="clear"></div>
	
				</div>	
			</div>
		</div>
	</div>
</div>
{%endblock%}
