{%extends "base.html"%}
{%block extra_js%} 
	<script type="text/javascript">
	$(document).ready(function() {
		// $('#leermasboton').click(function(){
		// 	$('#lista-actores').css('margin-top','0px');
		//     $('#bienvenida').animate({height:'460'});
		//     $('#bienvenida').animate({width:'852'});
		//     $('.preindex').hide();
		//     $('.fullindex').show();
		// });

		var r=Math.floor(Math.random()*2);
		$('#feature').css({'background':'url(/files/img/index'+r+'.jpg)','background-repeat':'no-repeat','background-position':'center center'});
	});
	</script>
{%endblock%}
{%block contenido%}
<div id="feature">
	<div class="container_12" style="height:100px">
		<div class="grid_7">
			&nbsp;		
		</div>
		<div class="grid_5">
			<div class="tituloindex">
				ACERCA DEL SISTEMA
			</div>
			<div class="descripcionindex">
				Bienvenidos a este interesante sitio de interacción virtual e información sobre el desempeño y oportunidades que brinda el sector forestal nicaragüense; cómo avanza la certificación forestal, quiénes y cómo se relacionan los que participan en los negocios forestales establecidos en el país. 
			</div>
			<div class="clear"></div>
			<a href="/acerca" class="btn btn-large btn-success botonindex">Leer más</a>
		</div>
	</div>
</div>

<div id="lista-actores">
	<div class="container_12">
		<center><img src="/files/img/sel_actores.png"></center>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/operadoresicon.png">OPERADORES</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href="/consultar" class="on"><div class="conteo">{{bosques}}</div>Empresa de manejo de bosque</a>
					<a href="/primera/consultar/" class="on"><div class="conteo">{{empresa_primera}}</div>Empresa forestal de primera transformación</a>
					<a href="/segunda/consultar/" class="on"><div class="conteo">{{empresa_segunda}}</div>Empresa forestal de segunda transformación</a>
					<a href="#"><div class="conteox"></div>Empresa de extracción forestal</a>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/prestadoresicon.png">PRESTADORES DE SERVICIO</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href=""><div class="conteox"></div>Asistencia técnica</a>
					<a href=""><div class="conteox"></div>Empresa comercializadora de productos forestales</a>
					<a href=""><div class="conteox"></div>Prestadores de servicios financieros</a>
					<a href=""><div class="conteox"></div>Proveedor de insumos y servicios de apoyo </a>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/serviciosicon.png">SERVICIOS OPERACIONALES</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href=""><div class="conteox"></div>Servicios de extracción</a>
					<a href=""><div class="conteox"></div>Comercializadora</a>
					<a href=""><div class="conteox"></div>Plantaciones forestales</a>
					<a href=""><div class="conteox"></div>Empresas de insumos</a>
					<a href=""><div class="conteox"></div>Servicios financieros</a>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/reguladoresicon.png">REGULADORES</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href="/regente/consultar/" class="on"><div class="conteo">{{regente}}</div>Regentes forestales</a>
					<a href=""><div class="conteox"></div>Organizaciones públicas</a>
					<a href=""><div class="conteox"></div>Auditores forestales</a>
					<a href=""><div class="conteox"></div>Entidad certificadora</a>
				</div>
			</div>
		</div>
	</div>
	<bR>
</div>
<div id="estadisticas" style="display:none;">
	<center><img src="/files/img/sel_estadisticas.png"></center>
	<div class="container_12">
		<div class="grid_6">
			<div class="grafobox">
				<div class="titulo">
					Volumen de cosecha
				</div>
				<div class="grafo-index">
					<img src="/files/img/grafo1.jpg">
				</div>
			</div>
		</div>
		<div class="grid_6">
			<div class="grafobox">
				<div class="titulo">
					Certificación
				</div>
				<div class="grafo-index">
					<img src="/files/img/grafo2.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
