{%extends "base.html"%}
{%block extra_js%} 
	<script type="text/javascript">
	$(document).ready(function() {
		$('#leermasboton').click(function(){
			$('#lista-actores').css('margin-top','0px');
		    $('#bienvenida').animate({height:'460'});
		    $('#bienvenida').animate({width:'852'});
		    $('.preindex').hide();
		    $('.fullindex').show();
		})

		var r=Math.floor(Math.random()*2);
		$('#feature').css({'background':'url(/files/img/index'+r+'.jpg','background-repeat':'no-repeat','background-position':'center center'})
	});
	</script>
{%endblock%}
{%block contenido%}
<div id="feature">
	<div class="container_12">
		<div class="grid_12">
			<center>
				<div id="bienvenida">
					<div class="preindex">
						<div class="titulo">
							Acerca del Sistema
						</div>
						<div class="texto">
							
								<p>
									Bienvenidos a este interesante sitio de interacción virtual e información sobre el desempeño y oportunidades que brinda el sector forestal nicaragüense, cómo avanza la certificación forestal, quiénes y cómo se relacionan los que participan en los negocios forestales establecidos en el país.
								</p>
								<p>
									<a id="leermasboton" href="#">Leer mas <img src="/files/img/leermasicon.png"></a>
								</p>
						</div>
					</div>
					<div class="fullindex">
						<div class="conicefv">
							<img src="/files/img/logoverde.jpg">
							<p>
								El Consejo Nicaraguense de Certificación Forestal (CONICEFV) es la Oficina Nacional del Consejo de Manejo Forestal (FSC por sus siglas en inglés), sin fines de lucro, independiente y no gubernamental, dedicada a promover el manejo forestal sostenible en concordancia con los Principios y Criterios del FSC; apoyando, dirigiendo, coordinando y ejecutando acciones que mejoren la competitividad, la rentabilidad y viabilidad social de la producción forestal para la generación de mayores beneficios para el sector empresarial rural.
							</p><p>
								El CONICEFV es parte de la Red de Oficinas Nacionales del FSC en Latinoamérica.
							</p><p>
								Actualmente funcionan Capítulos territoriales en el departamento de Nueva Segovia y la Región Autónoma del Atlántico Norte (RAAN).
							</p>
							<p style="color:#f1ffe8">
								Teléfono: 00 (505) 2270 9933<br>
								Correo: conicefv@ni.fsc.org<br>
								Dirección: Planes de Altamira. Km. 5 Carretera a Masaya. Del Colegio Teresiano 1 c. al Este. Casa No. 130.
							</p>
						</div>
						<div class="titulo">
							Acerca del Sistema
						</div>
						<div class="texto">
								<img src="/files/img/acercadefoto.jpg" align="right">
								<p>
									Bienvenidos a este interesante sitio de interacción virtual e información sobre el desempeño y oportunidades que brinda el sector forestal nicaragüense, cómo avanza la certificación forestal, quiénes y cómo se relacionan los que participan en los negocios forestales establecidos en el país.
								</p>
								<p>
									Aquí los actores del sector forestal encontrarán un lugar único de intercambio de conocimientos y experiencias en el manejo forestal sostenible y en los procesos de certificación forestal en base  a los Principios y Criterios (P&C) del Consejo de Manejo Forestal (FSC por sus siglas en inglés).
								</p>
								<p>
									Nuestro propósito es que el Sistema de Información Forestal (SIF) sea una herramienta que ayude a fortalecer al sector forestal nacional, facilitando información confiable, actualizada y descentralizada que estimule procesos de intercambio de información técnica.
								</p>
								<p>
									Esperamos que el SIF, sea la herramienta que desde hace tiempo el sector espera para tener un foro útil y apoye el diálogo para el fomento y consolidación de la inversión forestal. Representa una oportunidad para que todos los actores encuentren posiciones comunes ante los retos que demanda el contexto de país.
								</p>
								<p>
									De esta manera se puede contribuir a cambiar la percepción sobre el sector, y tener una valoración positiva, diferente en la sociedad nicaragüense y en las políticas nacionales para el desarrollo económico, social y ambiental con respecto al manejo forestal sostenible, que se traduce en el aporte que hacen los silvicultores a la  conservación de los ecosistemas forestales de Nicaragua.
								</p>
						</div>
					</div>
					</div>
				</div>
			</center>
		</div>
	</div>
</div>

<div id="lista-actores">
	<div class="container_12">
		<center><img src="/files/img/sel_actores.png"></center>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/operadoresicon.png">OPERADORES</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href=""><div class="conteo">{{bosques}}</div>Dueños de Bosques</a>
					<a href=""><div class="conteo">34</div>Empresas Maderables</a>
					<a href=""><div class="conteo">133</div>PYMES Madera Muebles</a>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/prestadoresicon.png">PRESTADORES DE SERVICIO</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href=""><div class="conteo">45</div>Regentes Forestales</a>
					<a href=""><div class="conteo">34</div>Asistencia Tecnica</a>
					<a href=""><div class="conteo">133</div>PYMES Madera</a>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/serviciosicon.png">SERVICIOS OPERACIONALES</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href=""><div class="conteo">2</div>Servicios de extracción</a>
					<a href=""><div class="conteo">34</div>Comercializadora</a>
					<a href=""><div class="conteo">133</div>Plantaciones Forestales</a>
					<a href=""><div class="conteo">133</div>Empresas de Insumos</a>
					<a href=""><div class="conteo">133</div>Servicios Financieros</a>
				</div>
			</div>
		</div>
		<div class="grid_3">
			<div class="titulo-bloque"><img src="/files/img/reguladoresicon.png">REGULADORES</div>
			<div class="bloque_actor_externo">
				<div class="bloque_actor_interno">
					<a href=""><div class="conteo">5</div>Organizaciones Publicas</a>
					<a href=""><div class="conteo">34</div>Auditores Forestales</a>
				</div>
			</div>
		</div>
	</div>
	<bR>
</div>
<div id="estadisticas">
	<center><img src="/files/img/sel_estadisticas.png"></center>
	<div class="container_12">
		<div class="grid_6">
			<div class="grafobox">
				<div class="titulo">
					Volumen de Cosecha
				</div>
				<div class="grafo-index">
					<img src="/files/img/grafo1.jpg">
				</div>
			</div>
		</div>
		<div class="grid_6">
			<div class="grafobox">
				<div class="titulo">
					Volumen de Cosecha
				</div>
				<div class="grafo-index">
					<img src="/files/img/grafo1.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}